* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#wrapper {
    background-color: rgb(189, 189, 189);
    margin: auto;
    padding-bottom: 50px;
}
#header {
    padding: 20px 50px;
    font-size: 25px;
}
#main{ 
    margin: 0 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    grid-auto-flow: dense;
}
.newsBlock {
    background-color: rgb(255, 255, 255);
}
.newsBlock:nth-child(39n + 1) {
    grid-column: -1/1;
}
.newsBlock:nth-child(24n + 7) {
    grid-column: -3/-1;
}
.newsBlock:nth-child(12n + 14) {
    grid-column: 1/3;
}
.articleImg {
width: 100%;
height: 150px;
object-fit: cover;
}
.articleContent {
    padding: 20px;
}
@media (max-width: 680px) {
    #main {
      display: flex;
      flex-direction: column;
    }
  }
